In [9]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [10]:
school_data_csv = Path("../Resources/schools_complete.csv")
student_data_csv = Path("../Resources/students_complete.csv")

In [11]:
school_data_df = pd.read_csv(school_data_csv)
student_data_df = pd.read_csv(student_data_csv)

In [12]:
combo_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
combo_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [37]:
# Calculate the total number of unique schools
school_array = combo_df["school_name"].unique()
school_count = len(school_array)
school_count

15

In [38]:
# Calculate the total number of students (no modifier b/c student ID starts at 0)
total_stud_ids = combo_df["Student ID"].shape[0]
total_stud_ids

39170

In [42]:
# Calculate the total budget
total_budget = combo_df["budget"].sum()
print(f"${total_budget}")

$82932329558

In [31]:
# Calculate the average (mean) math score
avg_math_score= combo_df["math_score"].mean()
print(f"%{avg_math_score}")

%78.98537145774827

In [32]:
# Calculate the average (mean) reading score
avg_reading_score= combo_df["reading_score"].mean()
print(f"%{avg_reading_score}")

%81.87784018381414

In [33]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = combo_df[(combo_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(total_stud_ids) * 100
passing_math_percentage

74.9808526933878

In [34]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = combo_df[(combo_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(total_stud_ids) * 100
passing_reading_percentage

85.80546336482001

In [35]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = combo_df[
    (combo_df["math_score"] >= 70) & (combo_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(total_stud_ids) * 100
overall_passing_rate

65.17232575950983

In [ ]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
#total schools, total students, total budget, avg math score, avg reading score, % passing math, %passing math, % overall passing

# Formatting
combo_df["Total Students"] = combo_df["Total Students"].map("{:,}".format)
combo_df["Total Budget"] = combo_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
combo_df

SCHOOL SUMMARY

In [48]:
# Use the code provided to select the type per school from school_data
school_types = school_data_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [50]:
# Calculate the total student count per school from school_data
total_student_count  = combo_df["school_name"].value_counts()
total_student_count

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [53]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_total_budget_df = combo_df.groupby(['school_name'])['budget'].sum()

per_school_total_budget_df

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [57]:
percap_df = pd.merge(per_school_total_budget_df, total_student_count, how="left", on=["school_name"])
percap_df.head()

                           budget  count
school_name
Bailey High School    15549641728   4976
Cabrera High School    2009159448   1858
Figueroa High School   5557128039   2949
Ford High School       4831365924   2739
Griffin High School    1346890000   1468

In [61]:
percap_df['Per Capita'] = percap_df['budget'] / percap_df['count']
percap_df

                            budget  count  Per Capita
school_name
Bailey High School     15549641728   4976   3124928.0
Cabrera High School     2009159448   1858   1081356.0
Figueroa High School    5557128039   2949   1884411.0
Ford High School        4831365924   2739   1763916.0
Griffin High School     1346890000   1468    917500.0
Hernandez High School  14007062700   4635   3022020.0
Holden High School       105933149    427    248087.0
Huang High School       5573322295   2917   1910635.0
Johnson High School    14733628650   4761   3094650.0
Pena High School         563595396    962    585858.0
Rodriguez High School  10186904637   3999   2547363.0
Shelton High School     1860672600   1761   1056600.0
Thomas High School      1705517550   1635   1043130.0
Wilson High School      3012587442   2283   1319574.0
Wright High School      1888920000   1800   1049400.0

In [90]:
mpassing_df = combo_df.loc[combo_df['math_score'] >=70, ['school_name', 'math_score', 'reading_score']]
mpassing_df.head()

         school_name  math_score  reading_score
0  Huang High School          79             66
4  Huang High School          84             97
5  Huang High School          94             94
6  Huang High School          80             82
8  Huang High School          87             95

In [94]:
mrpassing_df = mpassing_df.loc[mpassing_df['reading_score'] >=70, ['school_name', 'reading_score']]
mrpassing_students_df  = mrpassing_df["school_name"].value_counts()
mrpassing_students_df

school_name
Bailey High School       2719
Johnson High School      2549
Hernandez High School    2481
Rodriguez High School    2119
Wilson High School       2068
Cabrera High School      1697
Wright High School       1626
Shelton High School      1583
Figueroa High School     1569
Huang High School        1561
Ford High School         1487
Thomas High School       1487
Griffin High School      1330
Pena High School          871
Holden High School        381
Name: count, dtype: int64

In [97]:
avgm_per_grade = combo_df.groupby(['grade'])['math_score'].mean()
avgm_per_grade

grade
10th    78.941483
11th    79.083548
12th    78.993164
9th     78.935659
Name: math_score, dtype: float64

In [98]:
avgr_per_grade = combo_df.groupby(['grade'])['reading_score'].mean()
avgr_per_grade

grade
10th    81.874410
11th    81.885714
12th    81.819851
9th     81.914358
Name: reading_score, dtype: float64

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]